/* general */

.pad-0 {
  padding: 0px;
}

.pad-5 {
  padding: 5px;
}

.pad-10 {
  padding: 10px;
}

.pad-15 {
  padding: 15px;
}

.pad-20 {
  padding: 20px;
}

.pad-30 {
  padding: 30px;
}

.pad-40 {
  padding: 40px;
}

.pad-60 {
  padding: 60px;
}

.pad-80 {
  padding: 80px;
}

.pad-100 {
  padding: 100px;
}

/* top */

.pad-top-0 {
  padding-top: 0px;
}

.pad-top-5 {
  padding-top: 5px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-15 {
  padding-top: 15px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-30 {
  padding-top: 30px;
}

.pad-top-40 {
  padding-top: 40px;
}

.pad-top-60 {
  padding-top: 60px;
}

.pad-top-80 {
  padding-top: 80px;
}

.pad-top-100 {
  padding-top: 100px;
}
