/* general */

.pad-0 {
  padding: 0px;
}

.pad-5 {
  padding: 5px;
}

.pad-10 {
  padding: 10px;
}

.pad-15 {
  padding: 15px;
}

.pad-20 {
  padding: 20px;
}

.pad-30 {
  padding: 30px;
}

.pad-40 {
  padding: 40px;
}

.pad-60 {
  padding: 60px;
}

.pad-80 {
  padding: 80px;
}

.pad-100 {
  padding: 100px;
}

/* top */

.pad-top-0 {
  padding-top: 0px;
}

.pad-top-5 {
  padding-top: 5px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-15 {
  padding-top: 15px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-30 {
  padding-top: 30px;
}

.pad-top-40 {
  padding-top: 40px;
}

.pad-top-60 {
  padding-top: 60px;
}

.pad-top-80 {
  padding-top: 80px;
}

.pad-top-100 {
  padding-top: 100px;
}

/* bottom */

.pad-bottom-0 {
  padding-bottom: 0px;
}

.pad-bottom-5 {
  padding-bottom: 5px;
}

.pad-bottom-10 {
  padding-bottom: 10px;
}

.pad-bottom-15 {
  padding-bottom: 15px;
}

.pad-bottom-20 {
  padding-bottom: 20px;
}

.pad-bottom-30 {
  padding-bottom: 30px;
}

.pad-bottom-40 {
  padding-bottom: 40px;
}

.pad-bottom-60 {
  padding-bottom: 60px;
}

.pad-bottom-80 {
  padding-bottom: 80px;
}

.pad-bottom-100 {
  padding-bottom: 100px;
}

/* left */

.pad-left-0 {
  padding-left: 0px;
}

.pad-left-5 {
  padding-left: 5px;
}

.pad-left-10 {
  padding-left: 10px;
}

.pad-left-15 {
  padding-left: 15px;
}

.pad-left-20 {
  padding-left: 20px;
}

.pad-left-30 {
  padding-left: 30px;
}

.pad-left-40 {
  padding-left: 40px;
}

.pad-left-60 {
  padding-left: 60px;
}

.pad-left-80 {
  padding-left: 80px;
}

.pad-left-100 {
  padding-left: 100px;
}


/* right */

.pad-right-0 {
  padding-right: 0px;
}

.pad-right-5 {
  padding-right: 5px;
}

.pad-right-10 {
  padding-right: 10px;
}

.pad-right-15 {
  padding-right: 15px;
}

.pad-right-20 {
  padding-right: 20px;
}

.pad-right-30 {
  padding-right: 30px;
}

.pad-right-40 {
  padding-right: 40px;
}

.pad-right-60 {
  padding-right: 60px;
}

.pad-right-80 {
  padding-right: 80px;
}

.pad-right-100 {
  padding-right: 100px;
}
