/* general */

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.padding-40 {
  padding: 40px;
}

.padding-60 {
  padding: 60px;
}

.padding-80 {
  padding: 80px;
}

.padding-100 {
  padding: 100px;
}

/* top */

.pad-top-5 {
  padding-top: 5px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-15 {
  padding-top: 15px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-30 {
  padding-top: 30px;
}

.pad-top-40 {
  padding-top: 40px;
}

.pad-top-60 {
  padding-top: 60px;
}

.pad-top-80 {
  padding-top: 80px;
}

.pad-top-100 {
  padding-top: 100px;
}
