<h2 class="md-display-1">Your company info - name</h2>
<div layout="row">
  <div flex="40" class="margin-right-15">
    <p class="md-body-1">
      This is the name of your sports club. This will be how players can find you and register if they misplaced the link you sent them to register.
    </p>
  </div><!-- flex 40 -->
  <div flex>

    <md-card>
      <md-list class="pad-0">
        <md-list-item layout="row">
          <div class="md-list-item-text" flex>
            <p class="md-body-2">Company name:</p>
            <div layout-gt-xs="row" layout="row">
              <md-input-container class="md-block" flex-gt-xs="80">
                <label>Name</label>
                <input ng-model="CompanyDetailCtrl.company.name" >
              </md-input-container>
            </div>
            <md-button class="md-secondary md-icon-button md-raised md-primary" ng-click="CompanyDetailCtrl.saveCompany('li.account', 'li.account.company.phone')">
              <md-icon>check</md-icon>
            </md-button>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>

    <md-card class="margin-top-20" ng-hide="$state.params.action == 'create'">
      <md-list style="padding: 0px">
        <md-list-item ng-click="$state.go('li.account.company.phone', {id: CompanyDetailCtrl.company.$id })" class="md-long-text">
          <div flex="35">
            <p class="md-body-2">Phone:</p>
          </div>
          <div flex class="md-list-item-text">
            <p class="md-body-1">
              {{ CompanyDetailCtrl.company.phone | tel }}
            </p>
          </div>
          <md-icon>chevron_right</md-icon>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="$state.go('li.account.company.fid', {id: CompanyDetailCtrl.company.$id })" class="md-long-text">
          <div flex="35">
            <p class="md-body-2">Federal Tax ID:</p>
          </div>
          <div flex class="md-list-item-text">
            <p class="md-body-1">
              {{ CompanyDetailCtrl.company.tax_id_federal }}
            </p>
          </div>
          <md-icon>chevron_right</md-icon>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="$state.go('li.account.company.sid', {id: CompanyDetailCtrl.company.$id })" class="md-long-text">
          <div flex="35">
            <p class="md-body-2">State Tax ID:</p>
          </div>
          <div flex class="md-list-item-text">
            <p class="md-body-1">
              {{ CompanyDetailCtrl.company.tax_id_state }}
            </p>
          </div>
          <md-icon>chevron_right</md-icon>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="$state.go('li.account.company.address', {id: CompanyDetailCtrl.company.$id })" class="md-long-text">
          <div flex="35">
            <p class="md-body-2">Address:</p>
          </div>
          <div flex class="md-list-item-text">
            <p class="md-body-1">
              {{ CompanyDetailCtrl.company.address_street }} {{ CompanyDetailCtrl.company.address_street_apt }}<br>
              {{ CompanyDetailCtrl.company.address_city }} {{ CompanyDetailCtrl.company.address_state }} {{ CompanyDetailCtrl.company.address_zip }}
            </p>
          </div>
          <md-icon>chevron_right</md-icon>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>

  </div><!-- flex -->
</div><!-- row -->
