<md-dialog aria-label="Mango (Fruit)" ng-cloak flex="40">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Record a payment</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="PaymentCreateCtrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-xs="row" layout="row">
          <md-input-container class="md-block" flex>
            <label>Payment amount</label>
            <input ng-model="PaymentCreateCtrl.payment.amount" type="number" step="0.01">
            <md-icon>attach_money</md-icon>
          </md-input-container>
        </div>
        <div layout-gt-xs="row" layout="row">
          <md-input-container flex>
            <label>Team</label>
            <md-select ng-model="PaymentCreateCtrl.payment.team_id">
              <md-option ng-repeat="team in PaymentCreateCtrl.teams" value="{{ team.$id }}" >{{ team.name }}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout-gt-xs="row" layout="row">
          <md-input-container flex>
            <label>Player</label>
            <md-select ng-model="PaymentCreateCtrl.payment.player_id">
              <md-option ng-repeat="player in PaymentCreateCtrl.players" value="{{ player.$id }}" >{{ player.first_name + ' ' + player.last_name }}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout-gt-xs="row" layout="row">
          <md-input-container flex>
            <label>Note:</label>
            <textarea ng-model="PaymentCreateCtrl.payment.note" md-maxlength="150" rows="3" md-select-on-focus></textarea>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="PaymentCreateCtrl.cancel()">
       Cancel
      </md-button>
      <md-button ng-click="PaymentCreateCtrl.recordPayment()">
        Save payment
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
