<div id="teams-index" layout="row">
  <div flex="90" flex-offset="5" ui-view>
    <h2 class="md-display-1">Your invoices</h2>
    <div layout="row">
      <div flex="40">
        <p class="md-body-1">
          These are all of your existing invoices.
          Create an invoice to request payment from one of your players or their parents.
        </p>
      </div>
      <div flex>
        <md-card>
          <md-list class="pad-0">
            <md-list-item class="md-2-line" ng-click="$state.go('li.invoices.create')">
              <md-icon class="md-avatar-icon md-warn">warning</md-icon>
              <div class="md-list-item-text">
                <h3>
                  You don't have any invoices yet. <strong>Create one now.</strong>
                </h3>
                <md-icon class="md-secondary">chevron_right</md-icon>
              </div>
            </md-list-item>
          </md-list>
        </md-card>

        <p>
          Placeholder to show examples of invoices.
        </p>

        <md-card>
          <md-list style="padding: 0px;">
            <md-list-item class="md-2-line" ng-click="$state.go('li.teams.detail', {id: '1oi2jc92e2'})">
              <md-icon>
                monetization_on
                <md-tooltip md-direction="top">
                  Deployed
                </md-tooltip>
              </md-icon>
              <div class="md-list-item-text">
                <h3>Boys U15 Vardar - $1,703 collected so far</h3>
                <p>
                  <strong>Created:</strong> 03/29/16
                </p>
                <md-icon class="md-secondary">chevron_right</md-icon>
              </div>
              <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="$state.go('li.teams.detail', {id: '1oi2jc92e2'})">
              <md-icon class="md-warn">
                mode_edit
                <md-tooltip md-direction="top">
                  Editing
                </md-tooltip>
              </md-icon>
              <div class="md-list-item-text">
                <h3>Girls U16 Ann Arbor</h3>
                <p>
                  <strong>Created:</strong> 03/27/16
                </p>
                <md-icon class="md-secondary">chevron_right</md-icon>
              </div>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>
        </md-card>

      </div>
    </div>
  </div>
</div>
