<div layout="row" flex>
  <md-sidenav class="md-sidenav-right" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
    <md-toolbar>
      <h1 class="md-toolbar-tools">Vardar Soccer</h1>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-subheader class="md-no-sticky" md-theme="white-bg">Payments:</md-subheader>
        <md-list-item ng-click="$state.go('li.payments')">
          <p>My Payments</p>
        </md-list-item>
        <md-list-item ng-click="$state.go('login')">
          <p>Log a Manual Payment</p>
        </md-list-item>
        <md-list-item ng-click="$state.go('login')">
          <p>Create New Invoice</p>
        </md-list-item>
        <md-subheader class="md-no-sticky" md-theme="white-bg">Team:</md-subheader>
        <md-list-item ng-click="$state.go('login')">
          <p>My Teams</p>
        </md-list-item>
        <md-list-item ng-click="$state.go('login')">
          <p>Create New Team</p>
        </md-list-item>
        <md-subheader class="md-no-sticky" md-theme="white-bg">Account:</md-subheader>
        <md-list-item ng-click="$state.go('login')">
          <p>My Account</p>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <div layout="column" flex md-theme="green" id="content">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" hide-gt-md>
          <md-icon>menu</md-icon>
        </md-button>
        <!-- Add a toggleMenu function to your menuCtrl controller with the following in it
          $mdSidenav('left').toggle(); -->
        <h1 flex class="md-toolbar-tools">Club Manager{{ ' » ' + $state.current.data.title }}</h1>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon>notifications</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon>message</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content ui-view layout="column" flex></md-content>
  </div>
</div>
