<h2 class="md-display-1">Your personal info - address</h2>
<div layout="row">
  <div flex="40" class="margin-right-15">
    <p class="md-body-1">
      Manage this basic information — your name, email, and phone number — to help others find you on Google products like Hangouts, Gmail, and Maps, and make it easier to get in touch.
    </p>
  </div><!-- flex 40 -->
  <div flex>

    <md-card>
      <md-list class="pad-0">
        <md-list-item layout="row" ng-click="$state.go('li.account.name')">
          <div flex="35">
            <p class="md-body-2">Name:</p>
          </div>
          <div flex>
            <p class="md-body-1">{{ AccountDetailCtrl.manager.first_name + ' ' + AccountDetailCtrl.manager.last_name }}</p>
          </div>
          <md-icon>edit</md-icon>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item layout="row" ng-click="$state.go('li.account.email')">
          <div flex="35">
            <p class="md-body-2">Email:</p>
          </div>
          <div flex>
            <p class="md-body-1">{{ AccountDetailCtrl.me.password.email }}</p>
          </div>
          <md-icon>edit</md-icon>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="$state.go('li.account.phone')" class="md-long-text">
          <div flex="35">
            <p class="md-body-2">Phone:</p>
          </div>
          <div flex class="md-list-item-text">
            <p class="md-body-1">
              {{ AccountDetailCtrl.manager.phone_cell | tel }}<br>
              {{ AccountDetailCtrl.manager.phone_work | tel }}
            </p>
          </div>
          <md-icon>edit</md-icon>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="$state.go('li.account.birthday')" class="md-long-text">
          <div flex="35">
            <p class="md-body-2">Birthday:</p>
          </div>
          <div flex class="md-list-item-text">
            <p class="md-body-1">
              {{ AccountDetailCtrl.manager.birthday_month + ' ' + AccountDetailCtrl.manager.birthday_day + ' ' + AccountDetailCtrl.manager.birthday_year }}
            </p>
          </div>
          <md-icon>edit</md-icon>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>

    <md-card class="margin-top-20">
      <md-list class="pad-0">
        <md-list-item layout="row">
          <div class="md-list-item-text" flex>
            <p class="md-body-2">Address:</p>
            <div layout-gt-xs="row">
              <md-input-container flex="60">
                <label>Street</label>
                <input ng-model="AccountDetailCtrl.manager.address_street">
              </md-input-container>
              <md-input-container flex="20">
                <label>Apt</label>
                <input ng-model="AccountDetailCtrl.manager.address_street_apt">
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-input-container flex="40">
                <label>City</label>
                <input ng-model="AccountDetailCtrl.manager.address_city">
              </md-input-container>
              <md-input-container flex="20">
                <label>State</label>
                <input ng-model="AccountDetailCtrl.manager.address_state">
              </md-input-container>
              <md-input-container flex="20">
                <label>Zip</label>
                <input ng-model="AccountDetailCtrl.manager.address_zip">
              </md-input-container>
            </div>
            <md-button class="md-secondary md-icon-button md-raised md-primary" ng-click="AccountDetailCtrl.saveManager('li.account', 'li.notifications')">
              <md-icon>check</md-icon>
            </md-button>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-card>

  </div><!-- flex -->
</div><!-- row -->

<md-divider class="margin-top-80"></md-divider>
