<div layout="row" flex>
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="AccountCtrl.toggleSidenav()" hide-gt-md>
          <md-icon>menu</md-icon>
        </md-button>
        <h1>Vardar Soccer</h1>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-subheader class="md-no-sticky" md-theme="white-bg">Payments:</md-subheader>
        <md-list-item ng-click="$state.go('li.payments')">
          <p>Your payments</p>
        </md-list-item>
        <md-list-item ng-click="$state.go('login')">
          <p>Record a manual payment</p>
        </md-list-item>
        <md-subheader class="md-no-sticky" md-theme="white-bg">Teams:</md-subheader>
        <md-list-item ng-click="$state.go('li.teams')">
          <p>Your teams</p>
        </md-list-item>
        <md-list-item ng-click="$state.go('li.teams')">
          <p>Your players</p>
        </md-list-item>
        <md-list-item ng-click="$state.go('login')">
          <p>Your coaches</p>
        </md-list-item>
        <md-list-item ng-click="$state.go('login')">
          <p>Create a new team</p>
        </md-list-item>
        <md-subheader class="md-no-sticky" md-theme="white-bg">Account:</md-subheader>
        <md-list-item ng-click="$state.go('li.account')">
          <p>Your account</p>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <div layout="column" flex md-theme="green" id="content">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="AccountCtrl.toggleSidenav()" hide-gt-md>
          <md-icon>menu</md-icon>
        </md-button>
        <!-- Add a toggleMenu function to your menuCtrl controller with the following in it
          $mdSidenav('left').toggle(); -->
        <h1 flex class="md-toolbar-tools">Club Manager{{ ' » ' + $state.current.data.title }}</h1>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon>monetization_on</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon>notifications</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon>message</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="$state.go('li.account')">
          <md-icon>settings</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content ui-view layout="column" flex></md-content>
  </div>
</div>
