<div layout="row">
  <div flex="80" flex-offset="10" class="margin-top-60">
    <h1 class="md-display-1">Register for Team Name</h1>
    <div layout="row">
      <div flex="40">
        <p class="md-body-1">
          Some informations about club manager.
        </p>
      </div>
      <div flex flex-offset="10">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Basic info</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout-padding>
            <form name="registerForm">

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>First name*</label>
                  <input required ng-model="user.firstName" name="firstName">
                  <div ng-messages="registerForm.firstName.$error">
                    <div ng-message="required">First name is required</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Last name*</label>
                  <input required ng-model="user.lastName" name="lastName">
                  <div ng-messages="registerForm.lastName.$error">
                    <div ng-message="required">Last name is required</div>
                  </div>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Are you registering as a player?</label>
                  <md-select ng-model="user.type">
                    <md-option>
                      Parent
                    </md-option>
                    <md-option>
                      Player
                    </md-option>
                    <md-option>
                      Coach
                    </md-option>
                    <md-option>
                      Club Manager
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Email*</label>
                  <input required name="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/">
                  <div ng-messages="registerForm.email.$error">
                    <div ng-message="required">Email is required</div>
                    <div ng-message="pattern">Must be a email</div>
                  </div>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Password*</label>
                  <input type="password" name="password" required ng-model="user.password" minlength="6">
                  <div ng-messages="registerForm.password.$error">
                    <div ng-message="minlength">Not long enough</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Confirmation*</label>
                  <input type="password" required ng-model="user.passwordConfirm" name="passwordConfirm" ng-pattern="user.password">
                  <div ng-messages="registerForm.passwordConfirm.$error">
                    <div ng-message="pattern">Passwords don't match</div>
                  </div>
                </md-input-container>
              </div>

            </form>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-accent">Next</md-button>
          </md-card-actions>
        </md-card>
      </div>

    </div>

    <md-divider class="margin-top-80"></md-divider>
  </div>
</div>
